@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  margin: 0;
}

.main-color {
  color: #ec5242;
}

.first-section {
  background: linear-gradient(rgba(211, 211, 211, 0.8), rgba(211, 211, 211, 0.8)), url("images/farm-bg.jpg");
  background-size: cover;
  margin: 0;
}

.hamburger {
  padding: 25px;
}

.intro-section {
  display: flex;
  justify-content: center;
}

.top-header {
  font-size: 2.5em;
  color: #ec5242;
  background: url('images/farm-bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.intro-texts {
  width: 90%;
}

.foreword {
  font-size: 16px;
  background: #d3d3d3;
  border: 2px solid #fff;
}

.event-date {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  font-weight: 700;
  font-size: 1.5em;
  margin: 24px 0 5px;
}

.text-excl {
  font-size: 1.5em;
}

.last-text {
  margin: 0 0 50px;
}

.second-section {
  display: flex;
  justify-content: center;
  margin: 0;
  background: linear-gradient(rgba(51, 49, 49, 0.4), rgba(51, 49, 49, 0.4)), url("images/sergey-lapunin-M7ho2fjOpjE-unsplash.jpg");
}

.section-content {
  text-align: center;
  width: 95%;
}

.title-text {
  padding-bottom: 20px;
}

.horizontal-line {
  border: 1px solid #ec5242;
  width: 5%;
}

.program-card {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  background: rgba(39, 42, 49, 0.6);
  margin-bottom: 10px;
}

.card-title {
  padding-top: 10px;
}

.card-image {
  padding: 25px;
}

.card-info {
  color: #d3d3d3;
}

.button-space {
  margin-top: 50px;
}

.large-button {
  background: #ec5242;
  border: 0;
  width: 80%;
  height: 80px;
  margin-bottom: 50px;
}

.large-button-link {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  color: #d3d3d3;
  font-weight: 540;
}

.third-section {
  display: flex;
  justify-content: center;
  margin: 0;
}

.speaker-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 50px;
}

.speaker-name {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #272a31;
  margin: 3px 0;
}

.speaker-qualification {
  margin: 10px 0;
}

.speaker-image {
  height: 100px;
}

.speaker-info {
  display: flex;
  flex-direction: column;
  text-align: start;

}

.speaker-hr {
  margin: 5px;
  width: 5%;
  border: 2px solid #d3d3d3;
}

.about-main {
  background: linear-gradient(rgba(211, 211, 211, 0.8), rgba(211, 211, 211, 0.8)), url("images/about-bg.jpg");
  background-size: contain;
}

.about-content {
  padding-top: 20px;
}

.about-word {
  text-align: center;
  background: #fff;
}

.about-last {
  font-size: 0.7em;
  width: 70%;
  margin-left: 15%;
  text-align: center; 
}

.more-speakers {
  margin-bottom: 50px;
}

.angle-down {
  height: 15px;
}

.more-speakers-button {
  background: #fff;
  width: 100%;
  height: 50px;
  border: 2px solid #d3d3d3;
}

.small-text {
  margin: 10px 0;
}

.desk-nav {
  display: none;
}

.desk-prog-info {
  display: none;
}


@media screen and (min-device-width: 768px) {
  .hamburger {
    display: none;
  }

  .desk-nav {
    display: flex;
    flex-direction: column;
  }

  .fixed-top {
    display: flex;
    justify-content: end;
  }

  .fixed-ul {
    display: flex;
    color: #fff;
    list-style: none;
    width: 22%;
    margin-right: 9%;
    justify-content: space-between;
  }

  .fixed-top {
    background: #272a31;
  }

  .main-nav {
    background: #fff;
  }

  .desk-nav-bg {
    display: flex;
    justify-content: space-between;

  }

  .menu-items {
    display: flex;
    width: 50%;
    margin-right: 10%;
    justify-content: space-between;
  }

  .menu-items ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 75%;
  }

  .menu-button {
    color: #ec5242;
    height: 75%;
    border: 5px solid #ec5242;
    margin-top: 5px;
    background: #fff;
  }

  .intro-texts {
    margin-top: 100px;
    width: 60%;
    margin-right: 15%;
  }

  .text-excl {
    font-size: 3em;
    margin-bottom: 0;
  }

  .top-header {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .foreword {
    width: 75%;
    font-size: 1.2em;
    margin-top: 0;
    padding: 15px;
  }

  .event-date {
    font-size: 2em;
  }

  .last-text {
    font-size: 1.3em;
  }

  .desk-prog {
    display: flex;
    width: 70%;
    margin-left: 15%;
  }

  .program-card {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

  .card-image {
    /* height: 25%; */
    width: 25%;
    margin-left: 25%;
  }

  .button-space {
    display: none;
  }

  .title-text {
    font-size: 2em;
    color: #fff;
  }

  .desk-prog-info {
    color: #fff;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .horizontal-line {
    width: 3%;
  }
}


