@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  margin: 0;
}

.main-color {
  color: #ec5242;
}

.first-section {
  background: linear-gradient(rgba(211, 211, 211, 0.8), rgba(211, 211, 211, 0.8)), url("images/farm-bg.jpg");
  background-size: cover;
  margin: 0;
}

.hamburger {
  padding: 25px;
}

.intro-section {
  display: flex;
  justify-content: center;
}

.intro-texts {
  width: 90%;
}

.foreword {
  background: #d3d3d3;
  border: 2px solid #fff;
}

.text-excl {
  font-size: 1.5em;
}

.last-text {
  margin-bottom: 50px;
}

.second-section {
  display: flex;
  justify-content: center;
  margin: 0;
  background: linear-gradient(rgba(51, 49, 49, 0.4), rgba(51, 49, 49, 0.4)), url("images/sergey-lapunin-M7ho2fjOpjE-unsplash.jpg");
}

.section-content {
  text-align: center;
  width: 95%;
}

.title-text {
  padding-bottom: 20px;
}

.horizontal-line {
  border: 1px solid #ec5242;
  width: 5%;
}

.program-card {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  background: rgba(39, 42, 49, 0.6);
  margin-bottom: 10px;
}

.card-title {
  padding-top: 10px;
}

.card-image {
  padding: 25px;
}

.card-info {
  color: #d3d3d3;
}

.button-space {
  margin-top: 50px;
}

.large-button {
  background: #ec5242;
  border: 0;
  width: 80%;
  height: 80px;
  margin-bottom: 50px;
}

.large-button-link {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  color: #d3d3d3;
  font-weight: 540;
}

.third-section {
  display: flex;
  justify-content: center;
  margin: 0;
}

.speaker-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 50px;
}

.speaker-name {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #272a31;
  margin: 3px 0;
}

.speaker-qualification {
  margin: 10px 0;
}

.speaker-image {
  height: 100px;
}

.speaker-info {
  display: flex;
  flex-direction: column;
  text-align: start;

}

.speaker-hr {
  margin: 5px;
  width: 5%;
  border: 2px solid #d3d3d3;
}

.about-main {

}

.about-content {
  padding-top: 20px;
}

.about-word {
  text-align: center;
}

.about-last {
  font-size: 0.7em;
  width: 70%;
  margin-left: 15%;
  text-align: center; 
}

.more-speakers {
  margin-bottom: 50px;
}

.angle-down {
  height: 15px;
}

.more-speakers-button {
  background: #fff;
  width: 100%;
  height: 50px;
  border: 2px solid #d3d3d3;
}

.small-text {
  margin: 10px 0;
}
